[paths]
source = src

[run]
branch = true
source =
    src
    tests
parallel = true

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Custom
    noqa: no-cover
show_missing = true
precision = 2
omit = *migrations*
